# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de caché
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
